.author {
  display: flex;
  column-gap: 16px;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    row-gap: 14px;
  }
}

.author__name {
  line-height: 20px;
  letter-spacing: -0.47px;
  font-weight: 500;
  font-style: normal;
  color: $dark;

  @media (max-width: $mobile-width) {
    padding-left: 8px;
  }
}

.author__avatar {
  width: 38px;
  height: 38px;
}
