.contacts {
  padding: 0 65px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    padding-left: 0;
  }
}

.contacts__heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.contacts__link {
  color: $primary;
  padding: 10px 5px 10px 0;
  text-decoration: underline;
  display: flex;
  column-gap: 15px;

  &--email {
    font-size: 14px;
    line-height: 17px;

    @media (max-width: $tablet-width) {
      text-decoration: none;
    }
  }

  &--phone {
    line-height: 32px;
  }

  @media (max-width: $tablet-width) {
    align-items: center;
  }
}

.contacts__link-icon {
  stroke: $border;
  fill: none;
}
