.corporate {
  max-width: 386px;
  padding: 0 9px 0 55px;
}

.corporate__heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 0 22px 0;
}

.corporate__text {
  font-size: 14px;
  line-height: 170%;
  color: $dark-50;
  margin: 0;
}
