.input {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: inherit;
  line-height: 17px;
  color: $grey;
  outline: 0;
  border: 1px solid $grey;

  &--tel {
    padding-left: 26px;
  }

  &--feedback {
    width: 270px;
    border-color: $dark-30;

    @media (max-width: $mobile-width) {
      width: 288px;
    }
  }

  &--modal {
    width: 100%;
    border-color: $border;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 17px;
  }
}
