.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 12px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__logo {
  margin-right: auto;
  line-height: 0;
  cursor: default;

  @media (max-width: $tablet-width) {
    padding: 18px 20px 15px;
  }
}

.main-nav__logo-image {
  @media (max-width: $tablet-width) {
    width: 44px;
    height: 17px;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 50px;
    border: 0;
    background-color: $primary;
    z-index: 100;

    &::before,
    &::after {
      @include pseudo;
      width: 23px;
      height: 1px;
      background-color: $light;
      left: 0;
      right: 0;
      margin: auto;
    }

    &::before {
      top: 18px;
      box-shadow: 0 6px 0 $light;
    }

    &::after {
      bottom: 18px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 50px;
  }
}

.main-nav__phone-link {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin-left: 23px;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primary-hover;

    .main-nav__phone-icon {
      stroke: $primary;
    }
  }
}

.main-nav__phone-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: none;
  stroke: $darker;
  stroke-width: 2px;
}

// Открытое меню со скриптами

.main-nav--opened {
  .main-nav__toggle {
    @media (max-width: $tablet-width) {
      background-color: transparent;

      &::before,
      &::after {
        width: 32px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: $darker-20;
      }

      &::before {
        box-shadow: none;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav__list {
    @media (max-width: $tablet-width) {
      min-height: 414px;
      padding-top: 134px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }

    @media (max-width: $mobile-width) {
      min-height: 355px;
    }
  }
}

// Закрытое меню

.main-nav--closed {
  .main-nav__list {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

// Открытое меню без скриптов

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}
