.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 12px;
}

.main-nav__logo {
  margin-right: auto;
  line-height: 0;
  cursor: default;
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav__phone-link {
  display: flex;
  align-items: center;
  padding: 21px 2px 20px 30px;
  margin-left: 23px;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $primary-hover;

    .main-nav__phone-icon {
      stroke: $primary;
    }
  }
}

.main-nav__phone-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: none;
  stroke: $darker;
  stroke-width: 2px;
}

.main-nav--nojs {
  .main-nav__list {
    display: flex;
  }
}
