.next-trips {
  padding-right: 37px;

  @media (max-width: $tablet-width) {
    border-right: 1px solid $border;
    padding-right: 50px;
  }
}

.next-trips__heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin: 0 0 15px 0;

  @media (max-width: $tablet-width) {
    margin-left: -18px;
  }
}

.next-trips__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;

  @media (max-width: $tablet-width) {
    min-width: 345px;
    margin-left: -22px;
  }
}

.next-trips__item {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.next-trips__link {
  font-size: 14px;
  line-height: 17px;
  color: $darker-50;
  display: block;
  padding: 5px 0;
}
