.places__heading {
  @include heading;
  max-width: 380px;

  &::after {
    width: 229px;
    height: 4px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto 21px;
  }
}

.places__details {
  color: $dark-70;
  max-width: 379px;
  padding: 0;
  margin: 0 0 54px;
  letter-spacing: -0.47px;

  @media (max-width: $tablet-width) {
    margin: 0 auto 39px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 18px;
  }
}

.places__list {
  @include clear-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -60px;

  @media (max-width: $tablet-width) {
    margin-left: -40px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.places__item {
  margin-left: 60px;
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-bottom: 35px;
  }
}

.places__item:last-child {
  margin-left: 120px;

  @media (max-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
