.social {
  @include clear-list;
  padding: 14px 0 16px 0;
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-229;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 1px 16px 0;
  }
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50px;
  min-height: 50px;

  &:hover,
  &:focus {
    .social__icon {
      fill: $primary-link-hover;
      transition: 0.3s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
