.tariffs {
  @include clear-list;
  display: flex;
  column-gap: 30px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  @media (max-width: $mobile-width) {
    row-gap: 30px;
  }
}

.tariffs__item {
  border: 1px solid $dark-30;
  border-radius: 6px;
  padding: 29px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  background-color: $white;

  @media (max-width: $tablet-width) {
    padding: 18px 19px 50px;
    max-width: 288px;
    position: relative;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      .tariffs__pros-item:first-child {
        margin-bottom: 6px;
      }
    }
  }

  &:hover,
  &:focus-within {
    border-color: $primary;
    border-width: 3px;
    padding: 27px;

    .tariffs__check-icon {
      fill: $darker;
    }

    .tariffs__title {
      color: $primary;
    }

    .tariffs__name {
      letter-spacing: normal;
    }

    .tariffs__pros-list {
      border-color: $primary;
    }

    @media (max-width: $tablet-width) {
      padding: 16px 18px 48px 17px;

      .tariffs__btn {
        bottom: -3px;
        left: -3px;
      }
    }
  }
}

.tariffs__title {
  color: $darker-70;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px 0;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    margin-bottom: 0;
  }
}

.tariffs__name {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27px;
  font-weight: 600;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}

.tariffs__price {
  font-size: 25px;
  line-height: 34px;
  letter-spacing: normal;
  font-weight: 700;
}

.tariffs__text {
  line-height: 24px;
  margin: 28px 0;
  padding-right: 20px;

  @media (max-width: $tablet-width) {
    text-align: center;
    padding-right: 0;
    margin: 12px 0 8px;
  }
}

.tariffs__pros-list {
  @include clear-list;
  padding-top: 30px;
  line-height: 32px;
  color: $dark;
  border-top: 1px solid $dark-30;
  margin-bottom: 13px;

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    margin-bottom: 20px;
  }
}

.tariffs__pros-item {
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.tariffs__check-icon {
  fill: $primary;
  position: absolute;
  top: 9px;
  left: 0;
}

.tariffs__btn {
  width: 310px;
  margin-top: auto;

  @media (max-width: $tablet-width) {
    width: $btn-mobile-width;
    position: absolute;
    bottom: -1px;
    left: -1px;
  }
}
