@mixin pseudo($content: "", $pos: absolute) {
  content: $content;
  position: $pos;
}

@mixin clear-list($list-style: none, $padding: 0, $margin: 0) {
  list-style: $list-style;
  padding: $padding;
  margin: $margin;
}

@mixin reset() {
  padding: 0;
  margin: 0;
}

@mixin wrapper() {
  max-width: $content-width;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

@mixin heading() {
  padding: 0 0 33px;
  margin: 0 0 31px;
  position: relative;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;
  font-weight: 600;
  color: $dark;

  &::after {
    @include pseudo;
    left: 0;
    bottom: 0;
    width: 175px;
    height: 3px;
    background-color: $primary;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
